absl-py==2.3.1
einops==0.6.1
image-quality==1.2.7
imageio==2.35.1
lpips==0.1.4
matplotlib==3.5.3
numpy==1.22.4
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
pillow==9.5.0
pyyaml==6.0.3
scikit-image==0.19.3
scipy==1.7.3
tensorboard==2.14.0
thop==0.1.1.post2209072238
tqdm==4.65.0
huggingface-hub==0.35.3
safetensors==0.3.3
